
{{> head}}
{{> navbar}}
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h1>Capitan America</h1>
            <span>Buen heroe!!!</span>
        </div>
        <div class="col-4">
            <img src="assets/img/imagen1.jpg" class="img-thumbnail"/>
        </div>
    </div>
</div>

{{> footer}}